# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/.gradle/
**/.idea/
**/.mixin.out/
**/.settings/
**/.vscode/
**/asm/
**/bin/
**/build/
**/crash-reports/
**/logs/
**/out/
**/run/

references/
sources/

*.iml
*.jar
*.log
.DS_Store
.classpath
.gradletasknamecache
.project
CLAUDE.local.md
Thumbs.db

!**/libs/*.jar
!gradle-wrapper.jar
