# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

!**/src/**/build/
**/build/
.gradle/
.idea/
bin/
env/
references/
run/
sources/

!gradle-wrapper.jar
!gradle-wrapper.properties
.classpath
.gradletasknamecache
.project
CLAUDE.local.md
